<div class="container-fluid p-5 m-5">
<div>
  <% if @post.reported_by?(current_user, @post) %>
    <%= button_to "通報を取り消す", post_reports_path(@post), method: :delete unless @post.user==current_user %>
  <% else %>
    <%= button_to "通報する", post_reports_path(@post), method: :post unless @post.user==current_user %>
  <% end %>

  <%= link_to user_path(@post.user) do %>
    <%= image_tag @post.user.get_profile_image(80, 80) %>
  <% end %>
    <%= link_to "#{@post.user.username}", user_path(@post.user) %>
  <%= image_tag @post.get_post_image(300, 400) %>
  <div>
    <% if @post.outer.present? %>
      <p>アウター</p><br>
      <p><%= @post.outer %></p><br>
    <% end %>
    <% if @post.tops.present? %>
      <p>トップス</p><br>
      <p><%= @post.tops %></p><br>
    <% end %>
    <% if @post.bottoms.present? %>
      <p>ボトムス</p><br>
      <p><%= @post.bottoms %></p><br>
    <% end %>
    <% if @post.shoes.present? %>
      <p>シューズ</p><br>
      <p><%= @post.shoes %></p><br>
    <% end %>
    <% if @post.bag.present? %>
      <p>バッグ</p><br>
      <p><%= @post.bag %></p><br>
    <% end %>
  </div>
  <div>
    <%= @post.body %>
    <%= @post.user.face_type_i18n if @post.user.face_type.present? %>
    <%= @post.user.frame_type_i18n if @post.user.frame_type.present? %>
    <%= "#{@post.user.stature}cm" if @post.user.stature.present? %>

    <%= @post.created_at.strftime("%Y. %m. %d  %H:%M:%S") %>
    <div>
      <% @comments.each do |comment| %>
        <%= image_tag comment.user.get_profile_image(80, 80) %>
        <% if comment.reported_by?(current_user, comment) %>
          <%= button_to "通報を取り消す", post_comment_reports_path(@post, comment), method: :delete unless comment.user==current_user %>
        <% else %>
          <%= button_to "通報する", post_comment_reports_path(@post, comment), method: :post unless comment.user==current_user %>
        <% end %>
        <%= comment.user.username %>
        <%= comment.comment %>
        <%= comment.created_at.strftime("%Y.%m.%d   %H:%M:%S") %>
      <% end %>
    </div>
    <div>
      <% if @post.favorited_by?(current_user) %>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          ♥ <%#アイコン%>
        <% end %>
      <% else %>
        <%= link_to post_favorites_path(@post), method: :post do %>
          ♡
        <% end %>
      <% end %>

      <%# コメントアイコン %>
      <p>いいね! <%= @post.favorites.count %>件</p>
      <p>コメント <%= @post.comments.count %>件</p>
    </div>
    <div>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_field :comment %>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "編集する", edit_post_path(@post) %>
<%= link_to "削除", post_path(@post), method: :delete %>
</div>