<div class="container-fluid py-5 my-5 mx-0 px-0">
  <div class="row justify-content-center">
    <div class="card w-75">
      <div class="card-header d-flex align-items-center">
        <%= link_to user_path(@post.user) do %>
          <%= image_tag @post.user.avatar.get_profile_image(80, 80), class: "rounded-circle", style: "width:80px; height:80px;" %>
        <% end %>
        <%= link_to "#{@post.user.username}", user_path(@post.user), class: "ml-3 text-dark" %>

        <% if user_signed_in? %>
          <div class="dropdown ml-auto">
            <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-ellipsis"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% if @post.user==current_user %>
                <li class="dropdown-item"><%= link_to "編集する", edit_post_path(@post), class: "text-dark" %></li>
                <li class="dropdown-item"><%= link_to "削除", post_path(@post), method: :delete, class: "text-dark" %></li>
              <% end %>
              <% if @post.reported_by?(current_user, @post) %>
                <li class="dropdown-item"><%= link_to "通報を取り消す", post_reports_path(@post), method: :delete, class: "text-dark" unless @post.user==current_user %></li>
              <% else %>
                <li class="dropdown-item"><%= link_to "通報する", post_reports_path(@post), method: :post, class: "text-dark" unless @post.user==current_user %></li>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%= image_tag @post.post_image, style: "object-fit:scale-down", class: "card-img-top" %>

      <div class="card-body h-100 p-4">
        <p class="my-2"><%= @post.body %></p>

        <% if @post.outer? || @post.tops? || @post.bottoms? || @post.shoes? || @post.bag? %>
          <details class="mb-2">
            <summary class="text-muted">詳細情報を見る</summary>
            <% if @post.outer.present? %>
              <p>
                アウター<br>
                <%= @post.outer %>
              </p>
            <% end %>
            <% if @post.tops.present? %>
              <p>
                トップス<br>
                <%= @post.tops %>
              </p><br>
            <% end %>
            <% if @post.bottoms.present? %>
              <p>
                ボトムス<br>
                <%= @post.bottoms %>
              </p>
            <% end %>
            <% if @post.shoes.present? %>
              <p>
                シューズ<br>
                <%= @post.shoes %>
              </p><br>
            <% end %>
            <% if @post.bag.present? %>
              <p>
                バッグ<br>
                <%= @post.bag %>
              </p><br>
            <% end %>
          </details>
        <% end %>

        <div>
          <%= @post.user.face_type_i18n if @post.user.face_type.present? %>
          <%= " / #{@post.user.frame_type_i18n}" if @post.user.frame_type.present? %>
          <%= " / #{@post.user.stature}cm" if @post.user.stature.present? %>
        </div>

        <p class="my-4"><%= @post.created_at.strftime("%Y.%m.%d  %H:%M") %></p>


        <div class="mb-3 bg-light">
        <div class="overflow-auto" style="max-height:400px">
        <% @comments.each do |comment| %>
          <div class="d-flex p-2">
            <%= image_tag comment.user.avatar.get_profile_image(80, 80), class: "h-100 mr-3 rounded-circle", style: "width:80px; height:80px;" %>
            <div>
              <p class="mb-0">
                <%= comment.user.username %><br>
                <span class="pl-2"><%= comment.comment %></span><br>
                <%= comment.created_at.strftime("%Y.%m.%d   %H:%M") %>
              </p>
            </div>
            <% if user_signed_in? && comment.user!=current_user %>
              <div class="dropdown ml-auto">
                <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% if comment.reported_by?(current_user, comment) %>
                    <li class="dropdown-item"><%= link_to "通報を取り消す", post_comment_reports_path(@post, comment), method: :delete, class: "text-dark" unless comment.user==current_user %></li>
                  <% else %>
                    <li class="dropdown-item"><%= link_to "通報する", post_comment_reports_path(@post, comment), method: :post, class: "text-dark" unless comment.user==current_user %></li>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        </div>
        </div>

        <div>
          <div>
            <% if @post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(@post), class: "text-decoration-none", method: :delete do %>
                <i class="fa-solid fa-heart" style="color:red"></i>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(@post), class: "text-decoration-none", method: :post do %>
                <i class="fa-regular fa-heart text-dark"></i>
              <% end %>
            <% end %>
            <label for="comment_comment"><i class="fa-regular fa-comment ml-3"></i></label>
          </div>
          <div class="mt-3">
            <p class="mb-1">いいね! <%= @post.favorites.count %>件</p>
            <p>コメント <%= @post.comments.count %>件</p>
          </div>
        </div>
      </div>
      <div class="card-footer p-0 mt-3">
        <%= form_with model: [@post, @comment], class: "d-flex flex-nowrap" do |f| %>
          <div style="width:80%"><%= f.text_field :comment, class: "w-100 h-100 border-light pl-3", placeholder: "コメントを追加" %></div>
          <div style="width:20%"><%= f.submit "送信", class: "w-100 btn" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>