<%= form_with model: @face_question, url: admin_face_questions_path do |f| %>
  <%= f.text_field :title, placeholder: "質問タイトル...?" %><br>
  <%= f.text_area :answer_1, placeholder: "子ども顔または曲線" %><br>
  <%= f.text_area :answer_2, placeholder: "大人顔または直線" %><br>
  <%= f.select :generation_or_shape, {"子どもor大人": true, "曲線or直線": false}, {include_blank: '質問ジャンル'} %>
  <%= f.submit "保存する" %>
<% end %>




<h1>顔タイプ診断項目一覧</h1>
<table>
  <tr>
    <th>質問タイトル</th>
    <th>子ども顔or曲線</th>
    <th>大人顔or直線</th>
    <th></th>
  </tr>
  <% @face_questions.each do |q| %>
  <tr>
    <td><%= q.title %>...?</td>
    <td><%= q.answer_1 %></td>
    <td><%= q.answer_2 %></td>
    <% if q.generation_or_shape==true %>
      <td>子どもor大人</td>
    <% else %>
      <td>曲線or直線</td>
    <% end %>
    <td><%= link_to "編集", edit_admin_face_question_path(q) %> <%= link_to "削除", admin_face_question_path(q), method: :delete %></td>
  </tr>
  <% end %>
</table>
