<div class="container-fluid my-5 px-0 mx-0">
  <div class="row justify-content-center mx-5 flex-sm-nowrap">
    <%= render 'search', q: @q %>
    <div class="col-sm-9 mx-2">
      <% if @results.present? %>
        <div class="d-flex flex-wrap">
          <% @results.each do |post| %>
            <%= link_to post_path(post), class: "w-25" do %>
              <%= image_tag post.post_image.variant(resize: "450^", gravity: "center", crop: "300x300+0+0").processed, style: "width:100%" %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="mb-5">
          <p>一致する投稿がありません。条件を変えて検索してください。</p>
        </div>
        <div class="d-flex flex-wrap">
          <% Post.all.each do |post| %>
            <%= link_to post_path(post), class: "w-25" do %>
              <%= image_tag post.post_image.variant(resize: "450^", gravity: "center", crop: "300x300+0+0").processed, style: "width:100%" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>