<div class="container-fruid p-5 m-5">
  <div class="row mb-5">
    <h4 class="offset-sm-2">投稿一覧</h4>
  </div>
  <div class="mb-5 justify-content-center">
    <table class="table table-hover text-dark">
      <thead class="thead-light">
        <tr>
          <th>投稿日</th>
          <th>ユーザーID</th>
          <th>一言</th>
          <th>詳細情報</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to admin_post_path(post), class: "text-decoration-none text-dark" do %>
              <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(post.user), class: "text-decoration-none text-dark" do %>
              <%= post.user_id %>
            <% end %>
          </td>
          <td><%= post.body %></td>
          <td>
            <% if post.outer.present? %>
              アウター: <%= post.outer %><br>
            <% end %>
            <% if post.tops.present? %>
              トップス: <%= post.tops %><br>
            <% end %>
            <% if post.bottoms.present? %>
              ボトムス: <%= post.bottoms %><br>
            <% end %>
            <% if post.shoes.present? %>
              シューズ: <%= post.shoes %><br>
            <% end %>
            <% if post.bag.present? %>
              バッグ: <%= post.bag %><br>
            <% end %>
          </td>
          <td>
            <% if post.status? %>
              <span class="font-weight-bold text-success">表示</span>
            <% else %>
              <span class="font-weight-bold text-muted">非表示</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>