<h1>通報投稿一覧</h1>
<table>
  <tr>
    <th>投稿日</th>
    <th>ユーザーID</th>
    <th>通報数</th>
    <th>ステータス</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to admin_post_path(post) do %>
        <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
      <% end %>
    </td>
    <td>
      <%= link_to admin_user_path(post.user) do %>
        <%= post.user_id %>
      <% end %>
    </td>
    <td><%= post.user.number_of_reported_posts(post.user) %></td>
    <td>
      <% if post.status? %>
        表示
      <% else %>
        非表示
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
