<div class="container-fruid p-5 m-5">
  <div class="row mb-5">
    <%= form_with model: @frame_question, url: admin_frame_question_path(@frame_question) do |f| %>
      <%= f.text_field :title, placeholder: "質問タイトル" %><br>
      <%= f.text_area :straight, placeholder: "ストレート", class: "w-100 mt-2" %><br>
      <%= f.text_area :wave, placeholder: "ウェーブ", class: "w-100" %><br>
      <%= f.text_area :natural, placeholder: "ナチュラル", class: "w-100" %><br>
      <%= f.submit "保存する", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>