<%= form_with model: @frame_question, url: admin_frame_questions_path do |f| %>
  <%= f.text_field :title, placeholder: "質問タイトル" %><br>
  <%= f.text_area :strate, placeholder: "ストレート" %><br>
  <%= f.text_area :wave, placeholder: "ウェーブ" %><br>
  <%= f.text_area :natural, placeholder: "ナチュラル" %><br>
  <%= f.submit "保存する" %>
<% end %>




<h1>骨格タイプ診断項目一覧</h1>
<table>
  <tr>
    <th>質問タイトル</th>
    <th>ストレート</th>
    <th>ウェーブ</th>
    <th>ナチュラル</th>
    <th></th>
  </tr>
  <% @frame_questions.each do |q| %>
  <tr>
    <td><%= q.title %></td>
    <td><%= q.strate %></td>
    <td><%= q.wave %></td>
    <td><%= q.natural %></td>
    <td><%= link_to "編集", edit_admin_frame_question_path(q) %> <%= link_to "削除", admin_frame_question_path(q), method: :delete %></td>
  </tr>
  <% end %>
</table>
