<h1>アカウント情報</h1>
<table>
  <tr>
    <td>ユーザーID</td>
    <td><%= @user.user_id %></td>
  </tr>
  <tr>
    <td>ユーザーネーム</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>アカウント作成日</td>
    <td><%= @user.created_at.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>通報された投稿数</td>
    <td><%= @user.number_of_reported_posts(@user) %></td>
  </tr>
  <tr>
    <td>通報されたコメント数</td>
    <td><%= @user.number_of_reported_comments(@user) %></td>
  </tr>
  <tr>
    <td>ステータス</td>
    <td>
      <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
        <%= f.select :status, User.statuses_i18n.invert, {} %>
        <%= f.submit "更新" %>
      <% end %>
    </td>
  </tr>
</table>

<% @user.posts.each do |post| %>
  <%= image_tag post.get_post_image(300, 400) %>
<% end %>