<div class="container-fluid p-5 m-5">
  <div class="row mb-5">
    <h4 class="offset-sm-2">ログイン</h4>
  </div>

  <%= form_with model: @user, url: user_session_path do |f| %>

    <div class="row mb-3 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-sm-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-75" %>
      </div>
    </div>

    <div class="row mb-2 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="col-sm-4">
        <%= f.password_field :password, autocomplete: "current-password", class: "w-75" %>
      </div>
    </div>

    <div class="row mb-4 justify-content-center">
      <% if devise_mapping.rememberable? %>
        <div class="col-auto">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログイン状態を保存する"  %>
        </div>
      <% end %>
    </div>

    <div class="row mb-5 justify-content-center">
        <%= f.submit "ログイン", class: "btn btn-success px-5" %>
    </div>
  <% end %>
    <%#= link_to "パスワードをお忘れの方", edit_user_password_path %>

  <div class="row d-flex flex-column mt-5">
    <div class="col-auto offset-sm-2">
      <p>アカウントをお持ちでない方</p>
    </div>
    <div class="col-auto offset-sm-2">
      <%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-outline-primary" %>
    </div>
    <div class="col-auto offset-sm-2 mt-2">
      <%= link_to 'ゲストとしてログインする', users_guest_sign_in_path, method: :post, class: "btn btn-info" %>
    </div>
  </div>
</div>

