<div class="col-sm-3 mx-2 border-right sticky-top justify-content-center">
  <div class="btn-group btn-block mb-5">
    <%= link_to "投稿検索", root_path, class: "btn btn-outline-secondary" %>
    <%= link_to "ユーザー検索", users_path, class: "btn btn-outline-info disabled" %>
  </div>

  <p>ユーザーID/ユーザーネームから検索</p>
  <%= search_form_for @q, url: search_users_path, class: "d-flex flex-column w-75 mx-auto" do |f| %>
    <%= f.search_field :username_or_user_id_cont, placeholder: "ユーザーID/ユーザーネーム" %>
    <%= f.submit "検索", class: "btn btn-outline-success btn-sm mt-3 mb-5" %>
  <% end %>
  <details>
    <summary class="mb-3">詳細検索</summary>
    <%= search_form_for q, url: search_users_path, class: "d-flex flex-column w-75 mx-auto" do |f| %>
      <details class="my-2">
        <summary class="pb-2 mt-3">身長</summary>
        <%= f.number_field :stature_gteq, placeholder: "例) 140", style: "width:35%" %>
        <span>～</span>
        <%= f.number_field :stature_lteq, placeholder: "例) 145", style: "width:35%" %>
        <span>㎝</span>
      </details>
      <details class="my-2">
        <summary class="pb-2">顔タイプ</summary>
        <% User.face_types.each do |k| %>
          <div>
            <%= f.check_box :face_type_in, {multiple: true}, k[1], nil %>
            <%= f.label "#{User.face_types_i18n[:"#{k[0]}"]}" %>
          </div>
        <% end %>
      </details>
      <details class="my-2">
        <summary class="pb-2">骨格</summary>
        <% User.frame_types.each do |k| %>
          <div>
            <%= f.check_box :frame_type_in, {multiple: true}, k[1], nil %>
            <%= f.label "#{User.frame_types_i18n[:"#{k[0]}"]}" %>
          </div>
        <% end %>
      </details>
      <div><%= f.submit "検索", class: "btn btn-outline-success btn-sm mt-3 mb-5 w-100" %></div>
    <% end %>
  </details>
</div>