<div class="container-fruid p-5 m-5">
  <div class="row mb-5">
    <h4 class="offset-sm-2">プロフィール編集</h4>
  </div>
  <div class="row ml-5 pl-5 mb-5">
    <%= form_with model: [@user, @avatar], url: user_avatar_path(@user), class: "bg-light align-items-end d-flex py-2 px-5" do |f| %>
      <%= image_tag @user.avatar.get_profile_image(100, 100), class: "rounded-circle", style: "width:100px; height:100px;" %>
      <%= f.file_field :profile_image, accept: "image/*", class: "mr-4" %>
      <%= f.submit "更新", class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @user do |f| %>
      <table class="table table-borderless col-sm-7 offset-sm-1">
        <tr>
          <td><%= f.label :username, "ユーザーネーム" %></td>
          <td><%= f.text_field :username %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td><%= f.label :introduction, "自己紹介" %></td>
          <td><%= f.text_area :introduction, class: "w-100" %></td>
        </tr>
        <tr>
          <td><%= f.label :stature, "身長" %></td>
          <td><%= f.text_field :stature, placeholder: "3ケタの整数で記入" %>cm</td>
        </tr>
      </table>
      <% unless (@user.face_type||@user.frame_type).present? %>
        <div class="text-center mt-5 bg-light py-4 mb-5">
          <p><span style="background:linear-gradient(transparent 70%, #FFFF00 0%);">顔と骨格のタイプを設定すると、あなたのタイプに合ったおすすめの投稿を見ることができます。</span></p>
          <p>
            下の「診断を始める」から、顔・骨格タイプのセルフチェックを行ってください。<br>
            すでに自身のタイプをご存じの方は、下記項目から選択し、設定を行うこともできます。
          </p>
          <%= link_to "診断を始める", frame_type_analysis_user_path(current_user.user_id), class: "text-decoration-none btn btn-outline-warning" %>
        </div>
      <% end %>

      <div class="bg-light p-4 mb-4">
        <p>顔と骨格のタイプを1つずつ選択してください。</p>
        <p>顔タイプ</p>
        <div class="d-flex flex-wrap mb-3">
          <div class="col-3">
            <%= f.radio_button :face_type, User.face_types.key(0) %>
            <%= f.label :face_type, User.face_types_i18n[:cute] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :face_type, User.face_types.key(1) %>
            <%= f.label :face_type, User.face_types_i18n[:active_cute] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :face_type, User.face_types.key(2) %>
            <%= f.label :face_type, User.face_types_i18n[:flesh] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :face_type, User.face_types.key(3) %>
            <%= f.label :face_type, User.face_types_i18n[:cool_casual] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :face_type, User.face_types.key(4) %>
            <%= f.label :face_type, User.face_types_i18n[:feminin] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :face_type, User.face_types.key(5) %>
            <%= f.label :face_type, User.face_types_i18n[:cool] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :face_type, User.face_types.key(6) %>
            <%= f.label :face_type, User.face_types_i18n[:elegant] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :face_type, User.face_types.key(7) %>
            <%= f.label :face_type, User.face_types_i18n[:soft_elegant] %>
          </div>
        </div>
        <p>骨格タイプ</p>
        <div class="d-flex">
          <div class="col-3">
            <%= f.radio_button :frame_type, User.frame_types.key(0) %>
            <%= f.label :frame_type, User.frame_types_i18n[:straight] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :frame_type, User.frame_types.key(1) %>
            <%= f.label :frame_type, User.frame_types_i18n[:wave] %>
          </div>
          <div class="col-3">
            <%= f.radio_button :frame_type, User.frame_types.key(2) %>
            <%= f.label :frame_type, User.frame_types_i18n[:natural] %>
          </div>
        </div>
        <p class="mt-3"><%= link_to "診断する>>", frame_type_analysis_user_path(current_user.user_id) %></p>
      </div>
      <div class="justify-content-around d-flex">
        <%= f.submit "保存する", class: "btn btn-primary btn-lg" %>
        <%= link_to "アカウントを削除する", unsubscribe_user_path(current_user.user_id), class: "btn btn-outline-danger ml-auto btn-lg" %>
      </div>
    <% end %>
  </div>
</div>