<span>顔の特徴について、当てはまる項目を1つずつ選択してください。</span>
<%= form_with url: face_type_result_user_path(current_user.user_id), method: :post do |f| %>
  <% @face_questions.each do |q| %>
      <p><%= q.title %></p>
      <%= f.radio_button :"#{q.id}", "子ども", checked: true if q.generation_or_shape==true %>
      <%= f.radio_button :"#{q.id}", "曲線", checked: true if q.generation_or_shape==false %>
      <%= f.label :"#{q.id}", "#{q.answer_1}" %>
      <%= f.radio_button :"#{q.id}", "大人" if q.generation_or_shape==true %>
      <%= f.radio_button :"#{q.id}", "直線" if q.generation_or_shape==false %>
      <%= f.label :"#{q.id}", "#{q.answer_2}" %>
  <% end %>
  <%= f.submit "結果を見る" %>
<% end %>
